org.eventb.core/dtd/contextFile.dtd

<!--
   DTD for Event-B unchecked context files.

   This DTD concerns context files that have been directly entered by
   the user or generated by a front-end plug-in such as U2B.

   IMPORTANT NOTE: All "contents" attribute will disappear in the next
   version of the tools (expected mid-November 2006).

   Copyright (c) 2006 ETH Zurich.

   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html

-->

<!-- Element Names -->
<!ENTITY % contextFile    "org.eventb.core.contextFile">
<!ENTITY % extendsContext "org.eventb.core.extendsContext">
<!ENTITY % carrierSet 	  "org.eventb.core.carrierSet">
<!ENTITY % constant   	  "org.eventb.core.constant">
<!ENTITY % axiom      	  "org.eventb.core.axiom">
<!ENTITY % theorem    	  "org.eventb.core.theorem">

<!-- Attribute Names -->
<!ENTITY % label          "org.eventb.core.label">
<!ENTITY % comment        "org.eventb.core.comment">

<!-- Attribute Values -->
<!ENTITY % CompName "CDATA">
    <!-- a name of an event-B component (without any suffix) -->

<!ENTITY % MathPred "CDATA">
    <!-- a formula in the mathematical language -->

<!ENTITY % MathIdent "CDATA">
    <!-- an identifier in the mathematical language -->

<!-- Common Attribute Declarations -->
<!ENTITY % NameAttDecl "name CDATA #REQUIRED">
    <!-- declaration of the name attribute, common to all elements -->

<!ENTITY % CommentAttDecl "%comment; CDATA #IMPLIED">
    <!-- declaration of the comment attribute, common to some elements -->

<!ENTITY % LabelAttDecl "%label; CDATA #REQUIRED">
    <!-- declaration of the label attribute, common to some elements -->

<!ENTITY % IdentAttDecl "contents %MathIdent; #REQUIRED">
    <!-- declaration of the identifier attribute, for constants and sets -->

<!ENTITY % PredAttDecl "contents %MathPred; #REQUIRED">
    <!-- declaration of the predicate attribute, for axioms and theorems -->


<!--============= Start of element type declarations =============-->

<!ELEMENT %contextFile;
   ( %extendsContext;
   | %carrierSet;
   | %constant;
   | %axiom;
   | %theorem;
   )*>
<!--ATTRLIST %contextFile;-->

<!ELEMENT %extendsContext; EMPTY>
<!ATTLIST %extendsContext;
  %NameAttDecl;
  contents     %CompName;     #REQUIRED
  >

<!ELEMENT %carrierSet; EMPTY>
<!ATTLIST %carrierSet;
  %NameAttDecl;
  %CommentAttDecl;
  %IdentAttDecl;
  >

<!ELEMENT %constant; EMPTY>
<!ATTLIST %constant;
  %NameAttDecl;
  %CommentAttDecl;
  %IdentAttDecl;
  >

<!ELEMENT %axiom; EMPTY>
<!ATTLIST %axiom;
  %NameAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  %PredAttDecl;
  >

<!ELEMENT %theorem; EMPTY>
<!ATTLIST %theorem;
  %NameAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  %PredAttDecl;
  >
