org.eventb.core/dtd/contextFile.dtd

<!--
   Copyright (c) 2006-09 ETH Zurich and others.

   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html
   
   Contributors:
   		ETH Zurich - Initial API and implementation
   		Systerel - Updated DTD to reflect the structure of the context
   		
   DTD for Event-B unchecked context files.

   This DTD concerns context files that have been directly entered by
   the user or generated by a front-end plug-in such as U2B.
-->

<!-- Element Names -->
<!ENTITY % contextFile    "org.eventb.core.contextFile">
<!ENTITY % extendsContext "org.eventb.core.extendsContext">
<!ENTITY % carrierSet 	  "org.eventb.core.carrierSet">
<!ENTITY % constant   	  "org.eventb.core.constant">
<!ENTITY % axiom      	  "org.eventb.core.axiom">

<!-- Attribute Names -->
<!ENTITY % label          "org.eventb.core.label">
<!ENTITY % comment        "org.eventb.core.comment">
<!ENTITY % identifier      "org.eventb.core.identifier">
<!ENTITY % predicate      "org.eventb.core.predicate">
<!ENTITY % target         "org.eventb.core.target">
<!ENTITY % theorem    	  "org.eventb.core.theorem">
<!ENTITY % configuration   "org.eventb.core.configuration">

<!-- Attribute Values -->
<!ENTITY % CompName "CDATA">
    <!-- a name of an event-B component (without any suffix) -->

<!ENTITY % MathPred "CDATA">
    <!-- a formula in the mathematical language -->

<!ENTITY % MathIdent "CDATA">
    <!-- an identifier in the mathematical language -->

<!-- Common Attribute Declarations -->
<!ENTITY % NameAttDecl "name CDATA #REQUIRED">
    <!-- declaration of the name attribute, common to all elements -->

<!ENTITY % CommentAttDecl "%comment; CDATA #IMPLIED">
    <!-- declaration of the comment attribute, common to some elements -->

<!ENTITY % LabelAttDecl "%label; CDATA #REQUIRED">
    <!-- declaration of the label attribute, common to some elements -->

<!ENTITY % IdentAttDecl "%identifier; %MathIdent; #REQUIRED">
    <!-- declaration of the identifier attribute, for constants and sets -->

<!ENTITY % PredAttDecl "%predicate; %MathPred; #REQUIRED">
    <!-- declaration of the predicate attribute, for axioms -->

<!ENTITY % TargetAttDecl "%target; %CompName; #REQUIRED">
    <!-- declaration of the extended context -->
    
<!ENTITY % VersionAttDecl "version CDATA #IMPLIED">
	<!-- declaration of the version, for contexts -->
	
<!ENTITY % ConfAttDecl "%configuration; CDATA #IMPLIED">
	<!-- declaration of the configuration attribute, for contexts -->
	
<!ENTITY % TheoremAttDecl "%theorem; (false | true) #IMPLIED">
	<!-- declaration of the theorem attribute, for axioms -->

<!--============= Start of element type declarations =============-->

<!ELEMENT %contextFile;
   ( %extendsContext;
   | %carrierSet;
   | %constant;
   | %axiom;
   )*>
<!ATTLIST %contextFile;
  %CommentAttDecl;
  %ConfAttDecl;
  %VersionAttDecl;
  >

<!ELEMENT %extendsContext; EMPTY>
<!ATTLIST %extendsContext;
  %NameAttDecl;
  %TargetAttDecl;
  >

<!ELEMENT %carrierSet; EMPTY>
<!ATTLIST %carrierSet;
  %NameAttDecl;
  %CommentAttDecl;
  %IdentAttDecl;
  >

<!ELEMENT %constant; EMPTY>
<!ATTLIST %constant;
  %NameAttDecl;
  %CommentAttDecl;
  %IdentAttDecl;
  >

<!ELEMENT %axiom; EMPTY>
<!ATTLIST %axiom;
  %NameAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  %PredAttDecl;
  %TheoremAttDecl;
  >

<!ELEMENT %theorem; EMPTY>
<!ATTLIST %theorem;
  %NameAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  %PredAttDecl;
  >
