org.eventb.core/dtd/machineFile.dtd

<!--
   Copyright (c) 2006-09 ETH Zurich and others.

   All rights reserved. This program and the accompanying materials
   are made available under the terms of the Eclipse Public License v1.0
   which accompanies this distribution, and is available at
   http://www.eclipse.org/legal/epl-v10.html
   
   Contributors:
   		ETH Zurich - Initial API and implementation
   		Systerel - Updated DTD to reflect the structure of the machine
   		
   DTD for Event-B unchecked machine files.

   This DTD concerns machine files that have been directly entered by
   the user or generated by a front-end plug-in such as U2B.
-->

<!-- Element Names -->
<!ENTITY % machineFile    "org.eventb.core.machineFile">
<!ENTITY % refinesMachine  "org.eventb.core.refinesMachine">
<!ENTITY % seesContext    "org.eventb.core.seesContext">
<!ENTITY % variable 	  "org.eventb.core.variable">
<!ENTITY % invariant   	  "org.eventb.core.invariant">
<!ENTITY % variant     	  "org.eventb.core.variant">
<!ENTITY % theorem    	  "org.eventb.core.theorem">
<!ENTITY % event      	  "org.eventb.core.event">
<!ENTITY % refinesEvent    "org.eventb.core.refinesEvent">
<!ENTITY % witness     	  "org.eventb.core.witness">
<!ENTITY % guard      	  "org.eventb.core.guard">
<!ENTITY % action      	  "org.eventb.core.action">
<!ENTITY % parameter      "org.eventb.core.parameter">
<!ENTITY % theorem    	  "org.eventb.core.theorem">

<!-- Attribute Names -->
<!ENTITY % label          "org.eventb.core.label">
<!ENTITY % comment        "org.eventb.core.comment">
<!ENTITY % convergence    "org.eventb.core.convergence">
<!ENTITY % extended  	  "org.eventb.core.extended">
<!ENTITY % identifier      "org.eventb.core.identifier">
<!ENTITY % predicate      "org.eventb.core.predicate">
<!ENTITY % expression     "org.eventb.core.expression">
<!ENTITY % assignment     "org.eventb.core.assignment">
<!ENTITY % target         "org.eventb.core.target">
<!ENTITY % configuration   "org.eventb.core.configuration">

<!-- Attribute Values -->
<!ENTITY % CompName "CDATA">
    <!-- a name of an event-B component (without any suffix) -->

<!ENTITY % EventLabel "CDATA">
    <!-- a label of an event (in the abstraction) -->

<!ENTITY % MathPred "CDATA">
    <!-- a predicate in the mathematical language -->

<!ENTITY % MathExpr "CDATA">
    <!-- an expression in the mathematical language -->

<!ENTITY % MathIdent "CDATA">
    <!-- an identifier in the mathematical language -->

<!ENTITY % MathAssign "CDATA">
    <!-- an assignment in the mathematical language -->

<!-- Common Attribute Declarations -->
<!ENTITY % NameAttDecl "name CDATA #REQUIRED">
    <!-- declaration of the name attribute, common to all elements -->

<!ENTITY % CommentAttDecl "%comment; CDATA #IMPLIED">
    <!-- declaration of the comment attribute, common to some elements -->

<!ENTITY % LabelAttDecl "%label; CDATA #REQUIRED">
    <!-- declaration of the label attribute, common to some elements -->

<!ENTITY % IdentAttDecl "%identifier; %MathIdent; #REQUIRED">
    <!-- declaration of the identifier attribute, for variables -->

<!ENTITY % PredAttDecl "%predicate; %MathPred; #REQUIRED">
    <!-- declaration of the predicate attribute, for invariants,
         theorems, etc. -->

<!ENTITY % ExprAttDecl "%expression; %MathExpr; #REQUIRED">
    <!-- declaration of the expression attribute, for variants -->

<!ENTITY % AssignAttDecl "%assignment; %MathAssign; #REQUIRED">
    <!-- declaration of the assignment attribute, for actions -->

<!ENTITY % TargetAttDecl "%target; %MathAssign; #REQUIRED">
    <!-- declaration of the refined or seen component or event -->
    
<!ENTITY % VersionAttDecl "version CDATA #IMPLIED">
	<!-- declaration of the version, for machines -->
	
<!ENTITY % ConfAttDecl "%configuration; CDATA #IMPLIED">
	<!-- declaration of the configuration attribute, for machines -->
	
<!ENTITY % TheoremAttDecl "%theorem; (false | true) #IMPLIED">
	<!-- declaration of the theorem attribute, for guards -->

<!--============= Start of element type declarations =============-->

<!ELEMENT %machineFile;
   ( %refinesMachine;
   | %seesContext;
   | %variable;
   | %invariant;
   | %variant;
   | %event;
   )*>
   <!-- 
     Additional constraints are:

     - at most one %refinesMachine;
     - at most one %variant;
     - at least one %event; (labeled INITIALISATION)
   -->
<!ATTLIST %machineFile;
  %CommentAttDecl;
  %ConfAttDecl;
  %VersionAttDecl;
  >

<!ELEMENT %refinesMachine; EMPTY>
<!ATTLIST %refinesMachine;
  %NameAttDecl;
  %TargetAttDecl;
  >

<!ELEMENT %seesContext; EMPTY>
<!ATTLIST %seesContext;
  %NameAttDecl;
  %TargetAttDecl;
  >

<!ELEMENT %variable; EMPTY>
<!ATTLIST %variable;
  %NameAttDecl;
  %CommentAttDecl;
  %IdentAttDecl;
  >

<!ELEMENT %invariant; EMPTY>
<!ATTLIST %invariant;
  %NameAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  %PredAttDecl;
  >

<!ELEMENT %variant; EMPTY>
<!ATTLIST %variant;
  %NameAttDecl;
  %CommentAttDecl;
  %ExprAttDecl;
  >

<!ELEMENT %theorem; EMPTY>
<!ATTLIST %theorem;
  %NameAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  %PredAttDecl;
  >

<!ELEMENT %event; 
   ( %refinesEvent;
   | %parameter;
   | %guard;
   | %witness;
   | %action;
   )*>
  <!-- 
    The INITIALISATION event must have only witness and action
    children.
  -->

<!ATTLIST %event;
  %NameAttDecl;
  %CommentAttDecl;
  %convergence; (0|1|2)        #REQUIRED
  %extended;    (false|true)   #REQUIRED
  %LabelAttDecl;
  >
  <!-- 
    The convergence attribute specifies which PO should be generated
    for the combination event / variant:
      0: ordinary event, no PO
      1: convergent event, PO to show event decreases variant
      2: anticipated event, PO to show event doesn't increase variant
  -->

<!ELEMENT %refinesEvent; EMPTY>
<!ATTLIST %refinesEvent;
  %NameAttDecl;
  %TargetAttDecl;
  >

<!ELEMENT %guard; EMPTY>
<!ATTLIST %guard;
  %NameAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  %PredAttDecl;
  %TheoremAttDecl;
  >

<!ELEMENT %witness; EMPTY>
<!ATTLIST %witness;
  %NameAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  %PredAttDecl;
  >

<!ELEMENT %action; EMPTY>
<!ATTLIST %action;
  %NameAttDecl;
  %AssignAttDecl;
  %CommentAttDecl;
  %LabelAttDecl;
  >
  
<!ELEMENT %parameter; EMPTY>
<!ATTLIST %parameter;
  %NameAttDecl;
  %CommentAttDecl;
  %IdentAttDecl;
  >
